#!/bin/sh

# Sourced by display manager.
# I.e. look at /etc/lightdm/Xsession
# https://wiki.archlinux.org/index.php/xprofile

# set background image
sh ~/.fehbg &
# disable bell
xset -b
source $HOME/dotfiles/i3/setup_i3_config.sh
#export TERMINAL=xfce4-terminal

