! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
URxvt*depth: 24

! Compile xft: Turn on/off double-buffering for xft (default enabled).  On some
! card/driver combination enabling it slightly decreases performance, on most
! it greatly helps it. The slowdown is small, so it
URxvt*buffered: false

! Create the window with the specified X window geometry [default 80x24]; option -geometry.
! URxvt*geometry: geom

! Use the specified colour as the windows background colour [default White]; option -bg.
URxvt*background: [95]#000000

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
URxvt*foreground: #FFFFFF

! If set, use the specified colour as the background for highlighted characters. If unset, use reverse video.
! URxvt*highlightColor: colour
!URxvt.font:                 xft:Hack:size=10:antialias=true:hinting=true,xft:DejaVu Sans Mono:size=12,xft:FontAwesome:size=12
!URxvt.font:                 xft:Hack:size=10:antialias=true:hinting=true,xft:Symbola,xft:UbuntuMonoDerivativePowerline Nerd Font

URxvt.font:                 xft:Hack:size=10
!URxvt.font: xft:UbuntuMonoDerivativePowerline Nerd Font:size=8,xft:DejaVu Sans Mono,xft:monospace,xft:Symbola

!URxvt.boldFont:             xft:Hack:style=Bold:size=10:antialias=true:hinting=true
!URxvt.italicFont:           xft:Hack:style=Italic:size=10:antialias=true:hinting=true,xft:DejaVu Sans Mono:size=12,xft:FontAwesome:size=12
!URxvt.boldItalicFont:       xft:Hack:style=Bold Italic:size=10:antialias=true:hinting=true,xft:DejaVu Sans Mono:size=12,xft:FontAwesome:size=12

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors favourite.
URxvt*scrollstyle: rxvt

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: false

! Compile frills: Disable the usage of the built-in block graphics/line drawing
! characters and just rely on what the specified fonts provide. Use this if you
! have a good font and want to use its block graphic
!URxvt*skipBuiltinGlyphs: false

! Compile frills: Associate string with keysym sym. The intervening resource name keysym. cannot be omitted.
! URxvt*keysym.sym: string

URxvt*perl-ext-common: resize-font,fullscreen,vtwheel

! tabs
!URxvt.tabbed.autohide: true
!URxvt.tabbed.tabbar-fg: 12
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 14
!URxvt.tabbed.tab-bg: 15

! resize font
! https://wiki.archlinux.org/index.php/rxvt-unicode#Changing_font_size_on_the_fly
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
! For the suggested Ctrl+Shift bindings to work, a default binding needs to be disabled
! Discussion here: http://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html
!URxvt.iso14755: false
!URxvt.iso14755_52: false

! fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

! keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Font spacing - By default the distance between characters can feel too wide.
! Here -1 decreases the spacing by one pixel, but can be adjusted as needed.
URxvt.letterSpace: -1

! Native transparency
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 60
